<br>
<br>

<h1 class="text-center">Hitting</h1>

<br>

<p class="text-center">There are several reasons why kids hit their parents. Sometimes they lash out when they feel angry because they aren't sure
  how to cope with their feelings in a more socially acceptable way. Other children hit because they lack impulse control.
  Here's how you can solve your child's issue.</p>

<br>

<div class="row">
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_one.png">
  </div>
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_two.png">
  </div>
  <div class="col-sm services-section">
    <img height=100 width=100 src="assets/circle_three.png">
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm text-center">
    <h2>Approach Calmnly</h2>
  </div>
  <div class="col-sm text-center">
    <h2>Speak Slowly</h2>
  </div>
  <div class="col-sm text-center">
    <h2>Don't Hit</h2>
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm">
    <p>It is best to approach the child when they are at really distressed when talking to someone.</p>
  </div>
  <div class="col-sm">
      <p>The next step will be to slow down your talking so that it creates a calm tone when talking.</p>
  </div>
  <div class="col-sm">
      <p>Lastly, when after talking with the child you will not hit anyone.</p>
  </div>
</div>