<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#"><img src="assets/logo.png" width=50 height=50></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect href="#" >Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect href="advisors">Advisors</a>
          </li>
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>