/* You can add global styles to this file, and also import other style files */

.services-section img {
    width: 90px;
    height: 90px;
    margin: auto;    
    display: block;
}

p,
h1{
    color: grey;
}

h2{
    color: rgb(41, 103, 219);
}