<br>
<br>

<h1 class="text-center">What kind of aggression does your child exert?</h1>

<div class="container">

  <br>
  <br>
  <br>

  <div class="row">
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_hitting.png" routerLink="/hitting">
    </div>
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_screaming.png" routerLink="/hitting">
    </div>
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_pushing.png" routerLink="/hitting">
    </div>
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_cursing.png" routerLink="/hitting">
    </div>
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_biting.png" routerLink="/hitting">
    </div>
    <div class="col-sm">
      <img height=100 width=200 src="assets/button_kicking.png" routerLink="/hitting">
    </div>
  </div>
  
</div>